.TasksDisplayContainer {
    margin: 0.5rem;
}

.tasksTable {
    background-color: rgb(150, 150, 150);
    border-radius: 0.5rem;
    padding: 0.2rem;
    width: 100%;
    border-collapse: collapse
}

.tasksTable thead {
    border-bottom: 1px solid black;
}

.tasksTable tbody tr {
    background-color: rgb(224, 224, 224);
    border-collapse: collapse;
    height: 5rem;
}

.tasksTable tbody tr:nth-child(odd) {
    background-color: rgb(182, 182, 182);
}

.tasksTable td{
    padding: 0.66rem;
    max-width: 10rem;
    overflow: hidden;
}

.taskName {
    width: 10rem;
}

.removeTaskButtonTd {
    width: 2rem;
}

.removeTaskButtonTd button{
    width: 2rem;
    height: 2rem;
    background-color: rgb(255, 50, 50);
    transition: background-color 0.1s;
    border: 1.5px solid black;
    border-radius: 0.25rem;
}

.removeTaskButtonTd button:hover {
    background-color: rgb(255, 104, 104);
    cursor: pointer;
}